@font-face {font-family: 'Privateer';
	src: url('assets/fonts/privateerregular.eot');
	src: url('assets/fonts/privateerregular.eot?#iefix') format('embedded-opentype'),
		 /*url('assets/fonts/privateerregular.woff2') format('woff2'),*/
		 url('assets/fonts/privateerregular.woff') format('woff'),
		 url('assets/fonts/privateerregular.ttf') format('truetype'),
		 url('assets/fonts/privateerregular.svg#wf') format('svg');
}


.privateer {
	font-family: "Privateer", serif;
}